body{
  background-color: ghostwhite;
}

footer{
  text-align: center;
}

footer p{
  font-size: 16px;
  color: ghostwhite;
}

.select2{
  margin-left: 33%!important;
  width: 33%!important;
}

.circles-text{
  font-size: 40px!important;
}

.circles {
  width: 33%;
  margin-bottom: 15%;
}

footer{
  text-align: center;
}

footer p{
  font-size: 20px!important;
}

@media screen and (max-width: 1000px) {
  footer p{
    font-size: 40px!important;
  }

  .prefooter{
    height: 20%!important;
  }

  .paypalButton{
    width: 40%;
  }
}
