body{
  background-color: ghostwhite;
}

footer{
  text-align: center;
}

footer p{
  font-size: 16px;
  color: ghostwhite;
}

.select2{
  margin-left: 33%!important;
  width: 33%!important;
}

.circles-text{
  font-size: 40px!important;
}

.circles {
  width: 33%;
  margin-bottom: 15%;
}

.box {
  position: relative;
  margin-left: 33%;
  margin-right: 33%;
}

.loaderBox{
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2000;
  background: rgba(0, 0, 0, 0.6);
}

.loader {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  margin-bottom: 20%;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid darkorange;
  width: 240px;
  height: 240px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.box select {
  text-align: center;
  background-color: steelblue;
  color: white;
  padding: 12px;
  width: 93.5%;
  border: none;
  font-size: 22px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

.box::before {
  content: "\f13a";
  font-family: FontAwesome;
  position: relative;
  top: 0;
  right: 0;
  width: 20%;
  height: 50%;
  text-align: center;
  font-size: 28px;
  line-height: 45px;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.box:hover::before {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.2);
}

.box select option {
  padding: 30px;
}

footer{
  text-align: center;
}

footer p{
  font-size: 20px!important;
}

@media screen and (max-width: 1000px) {
  .box select{
    width: 91%;
  }

  .loader{
    margin-top: 65%;
  }

  h2 {
    font-size: 45px!important;
  }

  h4 {
    font-size: 28px!important;
  }

  footer p{
    font-size: 40px!important;
  }

  .prefooter{
    height: 30%!important;
  }

  footer{
    padding-top: 5%!important;
    padding-bottom: 5%!important;
  }

  .paypalButton{
    width: 40%;
  }
}
